#bootstrap-overrides body {
    background-color: aqua;
}

h1 {
    color: white;
}

.c1 {
    height: 20px;
    width: 1340px;
    background-color: gold;
    border: 2px solid white;
    margin-top: 20px;
    margin-left: 0px;
    padding: 18px 15px 15px 15px;

}

#bootstrap-overrides .a1 {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 20px 8px 20px;
}

#bootstrap-overrides .a1:visited,
.a1:hover,
.a1:active,
    {
    text-decoration: none;
    color: white;
}

.c2 {
    margin-top: -10px;
    background-color: black;
    color: white;
    height: 20px;
    width: 150px;
    margin-right: 50px;
    float: right;
    text-align: center;
    padding: 8px 10px 8px 10px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#bootstrap-overrides .a2 {
    text-decoration: none;
    color: white;
}

#bootstrap-overrides .a2:visited,
.a2:hover,
.a2:active,
    {
    text-decoration: none;
    color: white;
}

.c3 {
    width: 400px;
    height: 400px;
    background-color: gold;
    margin-top: 100px;
    margin-left: 460px;
    text-align: center;
    padding: 50px;
    line-height: 30px;
    position: relative;

}

div[back-img] {
    height: 100%;
    width: 100%;
    margin: 0px;
}


.round {
    background: radial-gradient(circle at 0 100%, rgb(255, 255, 255) 60px, #FFD700 25px),
    radial-gradient(circle at 100% 100%, rgb(255, 255, 255) 60px, #FFD700 25px),
    radial-gradient(circle at 100% 0, rgb(255, 255, 255) 60px, #FFD700 25px),
    radial-gradient(circle at 0 0, rgb(255, 255, 255) 60px, #FFD700 25px);

    background-position: bottom left, bottom right, top right, top left;
    background-size: 50% 50%;
    background-repeat: no-repeat;

    padding: 14px;
}


.H1 {
    margin-top: 70px;
}

h3 {
    margin-top: 45px;
}

#bootstrap-overrides .i1 {
    background-color: gold;
    border: none;
    border-bottom: 1px solid black;
    width: 100px;
}

.b1 {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px
}

#bootstrap-overrides img {
    margin-top: 30px;

}

slide {
    width: 1000px;
    height: 1000px;
}
